@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400&family=Work+Sans:wght@300;400;500;600&display=swap');

$font-primary: 'Tinos', serif;
$font-secondary: 'Work Sans', sans-serif;

$color-dark: #232323;
$color-primary: #C49D31;
$color-secondary: #FFF66C;
$color-light: #f1f1f1;

@mixin flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin button-full($bg-color, $color, $padding, $bg-color-hover, $color-hover) {
    padding: $padding;
    background-color: $bg-color;
    color: $color;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    outline: none;

    &:hover {
        background-color: $bg-color-hover;
        color: $color-hover;
    }
}

@mixin button-border($border-color, $padding, $color-hover) {
    padding: $padding;
    background-color: transparent;
    color: $border-color;
    border: 1px solid $border-color;
    border-radius: 5px;
    text-decoration: none;

    &:hover {
        background-color: $border-color;
        color: $color-hover;
    }
}

@mixin linkAfter($color, $height) {
    &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: $height;
        background-color: $color;
        transition: all .2s;
    }

    &:hover::after{
        width: 100%;
    } 
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    padding: 80px 0;
    background-color: #f1f1f1;

    h2 {
        font-size: 3em;
        color: $color-dark;
        text-align: center;
        margin-bottom: 30px;
    }

    p {
        font-size: 1.1em;
        margin-bottom: 30px;
        text-align: center;
        color: $color-dark;
    }
}

section.dark {
    background-color: $color-dark;

    h2 {
        font-size: 3em;
        color: $color-light;
        text-align: center;
        margin-bottom: 30px;
    }
}

.container {
    max-width: 1200px;
    padding: 0 30px;
    margin: auto;
}

h1,
h2,
h3,
h4 {
    font-family: $font-primary;
}

span,
a,
p,
label {
    font-family: $font-secondary;
}

a:not(.btn) {
    text-decoration: none;
    position: relative; 
    transition: all .2s;
}

